src/Styles.Text.Android/bin
src/Styles.Text.Android/obj
src/Styles.Text.iOS/bin
src/Styles.Text.iOS/obj
src/Styles.Text.NuGet/bin
src/Styles.Text.NuGet/obj
src/Styles.Text.Shared/bin
src/Styles.Text.Shared/obj
samples/TextStyleDemo.Native.iOS/bin
samples/TextStyleDemo.Native.iOS/obj
src/Styles.Text.Core/bin
src/Styles.Text.Core/obj
samples/TextStyleDemo.Native.Droid/bin
samples/TextStyleDemo.Native.Droid/obj
Styles.Text.userprefs
TextStyleDemo.Droid.userprefs
TextStyleDemo.iOS.userprefs
