h2, body {
	color				: #464646;
}

h1{
	font-family    		: "BreeSerif-Regular";
	font-size        	: 42px;
	text-overflow		: "ellipsis";
	text-align			: "center";
	line-height			: "30px";
	lines				: 0;
	color				: #2A2A2A;
}

h2{
	font-family    		: "OpenSans-CondLight";
	font-size        	: 20;
	text-overflow		: "ellipsis";
	text-align			: "center";
	text-transform		: "uppercase";
}

body{
	font-family      	: "OpenSans-CondLight";
	font-size        	: 16;
	text-align			: "center";
}

i{
	font-family    		: "OpenSans-CondBold";
	font-size        	: 16;
}